@import "tailwindcss";

@theme {
  --color-qwaste: #1155CC;
  --color-qwaste-light: #2A0896;
  --color-qwaste-dark: #0B347D;
  --color-qwaste-accent: #00E0FF;

  --color-cobalt: #1155CC;
  --color-navy: #0B2545;
  --color-soft: #EFF6FF;

  --color-bg-section-dark: #09090b;
  /* zinc-950 */
  --color-bg-section-light: #fafafa;
  /* zinc-50 */
  --color-bg-footer: #09090b;
  /* zinc-950 */

  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

.bg-mesh-aurora {
  background-color: #ffffff;
  background-image:
    radial-gradient(at 0% 0%, rgba(17, 85, 204, 0.15) 0px, transparent 50%),
    radial-gradient(at 100% 0%, rgba(168, 85, 247, 0.15) 0px, transparent 50%),
    radial-gradient(at 100% 100%, rgba(17, 85, 204, 0.1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, rgba(168, 85, 247, 0.1) 0px, transparent 50%);
}

.bg-grid-pattern {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}